<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- icon link -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- home page style -->
    <link rel="stylesheet" href="static/css/style.css">
  
    <title>Rental services</title>
    
    <!-- form to add style -->
    <link rel="stylesheet" href="static/css/add_vehicle_style.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
     
      .main-container{
        width: 100%;
        display: flex;
        background-color: #686868;
        flex-direction: column;
       
      }
    

      .card{
        width:200px;  
        height:40px;
        background-color: #8cd9b3; 
        padding:8px;
        margin:10px;
        border-radius:10px;
        text-align:center;
      }
      .card-container{
        width: 100%;
          display:flex;
          flex-direction:row;
          background-color:#686868  ;
          flex-wrap:wrap;
          justify-content:center;
           margin: auto;
      }




    </style>
  </head> 
  
  <body>
{% if result['loged_in_user'] %}

    <div class="main-container">
      <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp" >
          <div class="logo"><img src="static/img/logo-search-grid-1x.png" alt="logo"></div>
          <li><a href="/home">Home</a></li>
          <li><a href="/room">Flat</a></li>
          <li><a href="/vehicle">Vehicle</a></li>
          <li><a href="/hall">Hall</a></li>
          {% if result['loged_in_user'] %}
          <li><a href="/myProfilePage">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
          {% else %}
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          {% endif %} 
        </ul>
        
        <div class="rightNav v-class-resp">

 <form action="/searchVehicle" method="POST"  enctype="multipart/form-data">
             
              <input type="text" name="hall_name" placeholder="Search Vehicle" class="btn btn-sm" style="background-color:whitesmoke; color: black;" required>   
            <input type="submit" value="Search" class="btn btn-sm">
        </form>

         

        <!--   <input type="text" name="search" id="search">
          <button class="btn btn-sm">Search </button>
         -->

        </div>
        <div class="burger">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </nav>

  <!-- card for add, find, edit ,show -->
     <div class="card-container">
        <a href="/vehicle" style=" text-decoration:none; color:black; ">
          <div class="card" style="background-color: #f2f6fa;">
               <i class='bx bx-show' ></i> Show Vehicle
          </div>
        </a>
        
        <a href="/addVehicle" style=" text-decoration:none; color:black;" >
          <div class="card" style="background-color:#6699ff;">
              <i class='bx bx-message-square-add' ></i> Add Vehicle
          </div>
        </a>


        <a href="/searchVehiclePage" style=" text-decoration:none; color:black;">
          <div class="card" style="background-color:#f2f6fa;">
              <i class='bx bx-search-alt-2' ></i> Find Vehicle
          </div>
        </a>

    
        <a href="/myVehicle" style=" text-decoration:none; color:black;">
          <div class="card" style="background-color: #f2f6fa;">
              <i class='bx bx-edit' ></i> My Hall
          </div>
        </a>
    
      </div>

<!-- .................................... -->


<br>
 <div class="container" style="margin: auto;">
    <div class="title">Register Vechile</div>
    
    <div class="content">
      

      <!-- flashed message for delete succesfully -->
      <div style="background-color:#6699ff; margin: 5px; font-size: 20px; text-align: center;border: 1px solid black; border-radius: 5px;">
      {% with messages =get_flashed_messages() %}
                {% if messages %}
                    <ul style="padding:5px;">
                        {% for message in messages %}
                            <li>{{message}}</li>
                        {% endfor %}
                      </ul>
                  {% endif %}
             {% endwith %} 
        </div>

     
      <form action="/addVehicle" method="POST"  enctype="multipart/form-data">
        <div class="user-details">
            <label for="cars">Choose vehicle category:</label>
        <br>
        <select name="vehicle_category" id="vehicle_category">
          <option value="Car">Car</option>
          <option value="Van">Van</option>
          <option value="Jeep">Jeep</option>
          <option value="Bike">Bike</option>
          <option value="Scotter">Scotter</option>
          <option value="Suv">Suv</option>
          <option value="Bus">Bus</option>

        </select>
          <div class="input-box">
            <span class="details">Vehicle Number Plate</span>
            <input type="text" placeholder="Enter vechile number plate detail" name="vehicle_no"required>
          </div>
          <div class="input-box">
            <span class="details">Location</span>
            <input type="text" placeholder="Enter location" name="vehicle_location" required>
          </div>

          <div class="input-box">
            <span class="details">District</span>
            <input type="text" placeholder="Enter District" name="vehicle_district" required>
          </div>
          <div class="input-box">
            <span class="details">Vehicle company</span>
            <input type="text" placeholder="Enter name of vehicle company" name="vehicle_company"required>
          </div>
          <div class="input-box">
            <span class="details">Vehicle model</span>
            <input type="text" placeholder="Enter model of vehicle" name="vehicle_model" required>
          </div>
          <div class="input-box">
            <span class="details">Vehicle Milage (Km/l)</span>
            <input type="number" placeholder="Enter Milage in Km/l" name="vehicle_milage" required>
          </div>
          <div class="input-box">
            <span class="details">Vehicle color</span>
            <input type="text" placeholder="Enter vehicle color" name="vehicle_color" required>
          </div>
            <div class="input-box">
            <span class="details">Vehicle Engine Capacity (cc)</span>
            <input type="number" placeholder="Enter Engine Capacity in cc" name="vehicle_engineCapacity" required>
          </div>
          <div class="input-box">
            <span class="details">Person Capacity</span>
            <input type="number" placeholder="Enter Person Capacity" name="vehicle_personCapacity"required>
          </div>
         

          <div class="input-box">
            <span class="details">Price</span>
            <input type="number" placeholder="Enter Price in Rs." name="vehicle_price" required>
          </div>
          
         
        </div>
        <div class="input-box">
            <span class="details">Vehicle Description</span>
            <textarea placeholder="Enter description" name="vehicle_description" cols="98" rows="10" required style="padding: 5px" wrap="soft"></textarea>
          </div>

        <div class="gender-details">
          <input type="radio" name="fuel" id="dot-1" value="Disel">
          <input type="radio" name="fuel" id="dot-2" value="Petrol">
<!--           <input type="radio" name="fuel" id="dot-3" value="Electric">-->
          <span class="gender-title">Fuel Type</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Disel</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Petrol</span>
          </label>
         <!--  <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Electric</span>
            </label> -->
          </div>
        </div>
         
        <!-- <label for="cars">Choose vehicle category:</label>
        <br>
        <select name="vehicle_category" id="vehicle_category">
          <option value="Car">Car</option>
          <option value="Van">Van</option>
          <option value="Jeep">Jeep</option>
          <option value="Bike">Bike</option>
          <option value="Scotter">Scotter</option>
          <option value="Bus">Bus</option>
        </select> -->
        <br>
        <br>

  

    <hr>                    
    <br>
      <div class="checklist-title">
      Select Photos:<br>
    </div>
    <input type="file" name="files[]" multiple="true" class="form-control" autocomplete="off" required>
    <br>
    <br> 

<hr>



        <div class="button">
          <input type="submit" value="Save Details">
        </div>
      </form>



    </div>
  </div>




<!-- .................................... -->


      <footer class="background">
        <p class="text-footer">Copyright &copy; 2027 - All rights reserved</p>
      </footer>
    </div>
    <script src="js/resp.js" ></script> 
 {% endif %} 

  </body>
</html>

